body{
   background-color: rgb(74, 201, 15); 
             background-image: url(portfolio\ .jpeg);
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed; 
             color: white;
nav a[href="home.html"] {
    color: rgb(185, 4, 110);
 
}
nav a[href="about.html"]{
    color: chartreuse;
}
nav a[href="contact.html"]{
    color: #0066ff;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    margin: 10px;

}
